@import url("https://fonts.googleapis.com/css2?family=Karla&family=PT+Sans+Narrow&family=Montserrat:wght@900&family=Roboto+Condensed:wght@300&display=swap");

:root {
  font-size: 62.5%;
  --fuente-titulo: "Montserrat", sans-serif;
  --fuente-subtitulo: "PT Sans Narrow", sans-serif;
  --fuente-texto: "Roboto Condensed", sans-serif;

  --azul-oscuro: #14274e;
  --azul-gris: #394867;
  --gris: #9ba4b4;
  --gris-blanco: #f1f6f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
