body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(56, 56, 56, 0.315), rgba(56, 56, 56, 0.315)),
    url("/css/img/PS5\ fondo4.jpg"), var(--gris-blanco) no-repeat fixed;
  background-size: cover;
  background-position: center;
  font-family: var(--fuente-texto);
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

header,
.formulario,
footer {
  color: black;
  font-weight: bold;
}

.formulario {
  transition: all 0.5s ease-in-out;
  width: 48rem;
  height: 35rem;
  padding: 1.5rem 2rem;
  margin: 10rem auto;
  /*border: outset var(--azul-oscro) 1rem;*/
  border-radius: 1em;
  align-items: center;
}

#tituloForm {
  font-family: var(--fuente-subtitulo);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.opcForm {
  width: 100%;
  margin: 2.5rem auto;
  padding: 1rem;
  border: none;
  font-size: 2.5rem;
  font-family: var(--fuente-subtitulo);
}

.opcForm:first-of-type {
  margin-top: 6rem;
}

input {
  font-family: var(--fuente-texto);
  margin-top: 1.8rem;
  padding: 1.5rem;
  width: 68.5%;
  height: 2.5rem;
  border: inset 0.3rem var(--azul-gris);
  border-radius: 1em;
  font-size: 2rem;
}

fieldset:last-of-type input {
  margin-top: 1rem;
  margin-left: 0.7rem;
}

#cantidad {
  min-width: 20%;
  max-width: 25%;
  text-align: center;
}

.comprar {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 1);
}

#enviar {
  background: var(--azul-gris);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem;
  border: outset white 0.2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: rgba(255, 0, 0, 1);
}

.textosFI,
.factDescrip,
.cobros {
  align-content: center;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

.textosFI > p {
  font-family: var(--fuente-subtitulo);
  font-size: 2rem;
  font-weight: normal;
}

.factDescrip {
  border: none;
}

.factura {
  text-align: center;
  margin: auto;
}

.colum1,
.cLeyenda {
  font-weight: bold;
}

.colum1,
.colum2 {
  border: none;
  padding: 1rem;
  width: 50%;
  margin: 1rem auto auto auto;
  text-align: center;
}

.colum2 {
  text-align: left;
}

.cobros,
.factDescrip {
  font-family: var(--fuente-texto);
  font-size: 1.7rem;
}

.ley1,
.ley2,
.ley3 {
  text-align: center;
  display: flex;
  margin: -1.5rem auto auto 13rem;
  align-content: space-between;
}

.cMoneda {
  margin-left: 4rem;
}

.ley2 {
  margin: auto 12.6rem;
}

.ley3 {
  margin: auto 10.3rem;
}

.ley2,
.ley3 {
  margin-top: 1.5rem;
}
