body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(56, 56, 56, 0.315), rgba(56, 56, 56, 0.315)),
    url("/img/PS5\ fondo4.jpg"), var(--gris-blanco) no-repeat fixed;
  background-size: cover;
  background-position: center;
  font-family: var(--fuente-texto);
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

header,
.formulario,
footer {
  color: black;
  font-weight: bold;
}

.formulario {
  transition: all 0.5s ease-in-out;
  width: 48rem;
  height: 35rem;
  padding: 1.5rem 2rem;
  margin: auto;
  border-radius: 1em;
  align-items: center;
}

#tituloForm {
  font-family: var(--fuente-subtitulo);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.opcForm {
  width: 100%;
  margin: 2.5rem auto;
  padding: 1rem;
  border: none;
  font-size: 2.5rem;
  font-family: var(--fuente-subtitulo);
}

.opcForm:first-of-type {
  margin-top: 6rem;
}

input {
  font-family: var(--fuente-texto);
  margin-top: 1.8rem;
  padding: 1.5rem;
  width: 68.5%;
  height: 2.5rem;
  border: inset 0.3rem var(--azul-gris);
  border-radius: 1em;
  font-size: 2rem;
}

fieldset:last-of-type input {
  margin-top: 1rem;
  margin-left: 0.7rem;
}

#cantidad {
  min-width: 20%;
  max-width: 25%;
  text-align: center;
}

.comprar {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 1);
}

#enviar,
#verFact {
  background: var(--azul-gris);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem;
  border: outset white 0.2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: rgba(255, 0, 0, 1);
}

#verFact {
  opacity: 0;
  position: absolute;
  margin: -4.6rem 40rem;
  width: 13rem;
  transition: all 0.9s;
}

#factura {
  opacity: 0;
  background: whitesmoke;
  color: black;
  border-radius: 0.5rem;
  position: absolute;
  z-index: -1;
  top: 20rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40rem;
  height: 45rem;
  padding-top: 2.5rem;
  transition: all 0.9s;
}

.textosFI,
.factDescrip,
.cobros {
  align-content: center;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

.textosFI > p {
  font-family: var(--fuente-subtitulo);
  font-size: 2rem;
  font-weight: normal;
}

.factDescrip {
  border: none;
}

.fact {
  text-align: center;
  margin: auto;
}

.colum1,
.cLeyenda {
  font-weight: bold;
}

.colum1,
.colum2 {
  border: none;
  padding: 1rem;
  width: 50%;
  margin: 1rem auto auto auto;
  text-align: center;
}

.colum2 {
  text-align: left;
}

.factDescrip {
  font-family: var(--fuente-texto);
  font-size: 1.7rem;
}

#closeFactura {
  width: 2rem;
  height: 2rem;
  position: absolute;
  margin-top: -1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}
