body {
  background: var(--girs-blanco);
  font-family: var(--fuente-texto);
  font-size: 1.8rem;
}

.textoIni {
  background: var(--azul-oscuro);
  color: white;
  width: 80%;
  font-family: var(--fuente-subtitulo);
  margin: 5rem auto;
  border-radius: 5px;
  box-shadow: 0px 0px 30px var(--azul-oscuro);
  padding: 1.5rem;
  font-size: 2rem;
}

p {
  text-align: justify;
  width: 100%;
}

table {
  width: 70rem;
  margin: auto;
  align-content: center;
  align-items: center;
  border-collapse: collapse;
}

.filas td:first-child {
  border-right: 0.5rem outset var(--azul-oscuro);
}

.filas td {
  border-bottom: 0.5rem outset var(--azul-oscuro);
}

.tableTitle {
  font-family: var(--fuente-titulo);
  text-align: center;
  font-size: 2.5rem;
}

.tableText {
  text-align: center;
}

.tableText,
.tableTitle {
  padding: 3rem;
}

footer {
  position: absolute;
  background: #dddee1;
  padding: 5vh 0;
  margin-top: 6rem;
  text-align: center;
  position: relative;
  font-size: 3rem;
  font-family: var(--fuente-subtitulo);
}
